
# Dependencies
/node_modules
/.next/
.DS_Store

# Environment variables
.env
.env.local
.env*.local

# Archives - IMPORTANT
/old-site-archive/
/old-site-archive-2/
/_archive-old-site/
/small-ai.com-master with massive folder/

